html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 62.5%; }

a {
  text-decoration: none;
  color: inherit; }

header {
  background-color: whitesmoke; }

.header-container {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0 5px;
  min-width: 980px; }
  .header-container::after {
    clear: both;
    content: "";
    display: table; }

.logo-search {
  float: left;
  vertical-align: middle; }
  .logo-search > * {
    display: inline-block; }

.header-logo {
  height: 30px;
  width: 30px;
  font-size: 30px; }

.header-search {
  position: relative;
  top: -8px;
  margin: 0 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 4px;
  width: 350px;
  line-height: 1.3rem;
  font-size: .8rem; }

.header-navs {
  vertical-align: middle; }
  .header-navs > a {
    display: inline-block;
    margin: 0 5px; }

.header-nav {
  height: 30px;
  vertical-align: middle;
  color: #333333;
  font-size: .8rem;
  font-weight: bold; }

.header-icons {
  float: right;
  vertical-align: middle; }
  .header-icons > * {
    display: inline-block;
    margin-left: 15px; }

.fa-bell,
.fa-plus {
  color: #333333;
  font-size: 1rem; }

.triangle {
  height: 0;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333333;
  display: inline-block;
  position: relative;
  top: 0px;
  margin-left: 2px; }

.profile-thumbnail {
  height: 25px;
  width: 25px;
  position: relative;
  top: 5px;
  border-radius: 3px; }

.header-lists {
  cursor: pointer; }

.main-body-container {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #cccccc;
  padding: 20px 20px 30px;
  min-width: 980px; }
  .main-body-container::after {
    clear: both;
    content: "";
    display: table; }

.sidebar-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .sidebar-container:last-child {
    margin-right: 0; }

.profile {
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 20px; }
  .profile .profile-pic {
    width: 100%;
    border-radius: 5px;
    height: 100%; }
  .profile .user-full-name {
    line-height: 30px;
    color: #333333;
    font-size: 2.6em;
    font-weight: bold; }
  .profile .user-name {
    line-height: 30px;
    color: #666666;
    font-size: 2em; }

.email-joined-container {
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 0; }
  .email-joined-container .fa,
  .email-joined-container a,
  .email-joined-container span {
    color: #333333;
    font-size: 1.4em; }
  .email-joined-container a {
    color: #487dbd; }
  .email-joined-container h4 {
    line-height: 25px; }
  .email-joined-container .fa {
    width: 25px;
    color: #999999; }

.follower-starred-container {
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 0; }
  .follower-starred-container::after {
    clear: both;
    content: "";
    display: table; }
  .follower-starred-container > * {
    float: left;
    display: block;
    margin-right: 10.1484%;
    width: 26.56773%;
    text-align: center; }
    .follower-starred-container > *:last-child {
      margin-right: 0; }
    .follower-starred-container > * h3 {
      color: #487dbd;
      font-size: 3em;
      font-weight: bold; }
    .follower-starred-container > * h5 {
      color: #666666;
      font-size: 1.1em; }
  .follower-starred-container:last-child {
    margin-right: 0; }

.repos-container {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-right: 0; }
  .repos-container:last-child {
    margin-right: 0; }

.tabs-edit-container {
  border-bottom: 1px solid #cccccc; }
  .tabs-edit-container::after {
    clear: both;
    content: "";
    display: table; }
  .tabs-edit-container .tabs {
    float: left; }
  .tabs-edit-container button {
    float: right;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: whitesmoke;
    padding: 5px 10px;
    font-size: 1.2em;
    font-weight: bold; }
    .tabs-edit-container button .fa {
      margin-right: 3px; }

.tab {
  display: inline-block;
  padding: 8px;
  color: #333333;
  font-size: 1.2em; }
  .tab.current {
    position: relative;
    bottom: -1px;
    z-index: 1000;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    background-color: white; }
  .tab .fa {
    display: inline-block;
    margin-right: 4px;
    font-size: 1.2em; }

.repo-search-container {
  border-bottom: 1px solid #cccccc;
  padding: 15px 0; }
  .repo-search-container::after {
    clear: both;
    content: "";
    display: table; }
  .repo-search-container input,
  .repo-search-container .repo-search-button {
    float: left; }
  .repo-search-container .repo-search {
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 0 10px;
    width: 250px;
    line-height: 30px;
    font-size: 1.2em; }
  .repo-search-container .repo-search-button {
    margin-left: 5px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: whitesmoke;
    width: 65px;
    line-height: 25px;
    font-size: 1.2em;
    font-weight: bold; }
  .repo-search-container .new-repo {
    margin-left: 5px;
    border: 1px solid #73a242;
    border-radius: 3px;
    background: linear-gradient(180deg, #a0d46d, #78a845);
    width: 60px;
    line-height: 25px;
    color: white;
    font-size: 1.2em;
    font-weight: bold; }
    .repo-search-container .new-repo .fa {
      margin-right: 3px; }
  .repo-search-container ul,
  .repo-search-container .new-repo {
    float: right; }

.category {
  display: inline-block;
  margin: 0 4px;
  line-height: 30px;
  color: #487dbd;
  font-size: 1.4em; }
  .category:hover {
    text-decoration: underline; }
  .category.active {
    color: #333333; }

.repos {
  border-bottom: 1px solid #eeeeee;
  padding: 30px 0 40px; }

.main-line {
  margin-bottom: 10px; }
  .main-line::after {
    clear: both;
    content: "";
    display: table; }
  .main-line .repo-stats {
    float: right; }

.repo-name {
  float: left;
  color: #487dbd;
  font-size: 2em;
  font-weight: bold; }

.repo-stat {
  display: inline-block;
  margin: 0 5px;
  color: #999999;
  font-size: 1.2em;
  font-weight: bold; }
  .repo-stat .fa {
    margin-right: 5px; }

.repo-lines h3 {
  line-height: 20px;
  color: #999999;
  font-size: 1.2em; }

.footer-container {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0;
  text-align: center; }
  .footer-container::after {
    clear: both;
    content: "";
    display: table; }
  .footer-container .fa {
    font-size: 3em; }
  .footer-container .left-footer {
    float: left; }
  .footer-container .right-footer {
    float: right; }

.left-footer-links a {
  padding: 0 5px;
  color: #487dbd; }

.left-footer-links > * {
  display: inline-block; }

.right-footer-links a {
  padding: 0 5px;
  color: #487dbd; }

.right-footer-links > * {
  display: inline-block; }

.footer-link {
  font-size: 1.2em; }
