@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

$max-width: 980px;
$header: rgba(245, 245, 245, 1);
$border: 1px solid rgba(204, 204, 204, 1);
$light-border: 1px solid rgba(238, 238, 238, 1);
$dark-text: rgba(51, 51, 51, 1);
$light-text: rgba(102, 102, 102, 1);
$lighter-text: rgba(153, 153, 153, 1);
$lightest-text: rgba(204, 204, 204, 1);
$button-hover: rgba(235, 235, 235, 1);
$color-text: rgba(72, 125, 189, 1);
$background-color: white;
$new-repo: 180deg, rgba(160, 212, 109, 1), rgba(120, 168, 69, 1);
$new-repo-hover: 180deg, rgba(150, 202, 99, 1), rgba(110, 158, 59, 1);
$new-repo-border: 1px solid rgba(115, 162, 66, 1);

body {
  font-family: $helvetica;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: inherit;
}

//----------------Header------------------//
header {
  background-color: $header;
}

.header-container {
  @include outer-container();
  padding: 10px 0 5px;
  min-width: $max-width;
}

.logo-search {
  float: left;
  vertical-align: middle;

  > * {
    display: inline-block;
  }
}

.header-logo {
  @include size(30px 30px);
  color: $dark-text;
  font-size: 30px;

  &:hover {
    color: $color-text;
  }
}

.header-search {
  position: relative;
  top: -8px;
  margin: 0 10px;
  border: $border;
  border-radius: 3px;
  padding: 4px;
  width: 350px;
  line-height: 1.3rem;
  font-size: .8rem;
}

.header-navs {
  vertical-align: middle;

  > a {
    display: inline-block;
    margin: 0 5px;
  }
}

.header-nav {
  height: 30px;
  vertical-align: middle;
  color: $dark-text;
  font-size: .8rem;
  font-weight: bold;

  &:hover {
    color: $color-text;
  }
}

.header-icons {
  float: right;
  vertical-align: middle;

  > * {
    display: inline-block;
    margin-left: 15px;
  }
}

.fa-bell,
.fa-plus {
  color: $dark-text;
  font-size: 1rem;
}

.triangle {
  @include triangle(10px 5px, $dark-text, 'down');
  display: inline-block;
  position: relative;
  top: -2px;
  margin-left: 2px;
}

.header-icon:hover .fa {
  color: $color-text;
}

.header-icon:hover .triangle {
  @include triangle(10px 5px, $color-text, 'down');
}

.profile-thumbnail {
  @include size(25px 25px);
  position: relative;
  top: 5px;
  border-radius: 3px;
}

.header-lists {
  cursor: pointer;
}

//----------------Main Body-----------------//
.main-body-container {
  @include outer-container();
  border-bottom: $border;
  padding: 20px 20px 30px;
  min-width: $max-width;
}

//----------------Sidebar-------------------//
.sidebar-container {
  @include span-columns(3);
}

.profile {
  @include fill-parent();
  border-bottom: $light-border;
  padding-bottom: 20px;


  .profile-pic {
    @include fill-parent();
    border-radius: 5px;
    height: 100%;
  }

  .user-full-name {
    line-height: 30px;
    color: $dark-text;
    font-size: 2.6em;
    font-weight: bold;
  }

  .user-name {
    line-height: 30px;
    color: $light-text;
    font-size: 2em;
  }
}

.email-joined-container {
  @include fill-parent();
  border-bottom: $light-border;
  padding: 20px 0;

  .fa,
  a,
  span {
    color: $dark-text;
    font-size: 1.4em;
  }

  a {
    color: $color-text;
  }

  h4 {
    line-height: 25px;

    &:hover a {
      text-decoration: underline;
    }
  }

  .fa {
    width: 25px;
    color: $lighter-text;
  }

}

.follower-starred-container {
  @include fill-parent();
  @include clearfix;
  border-bottom: $light-border;
  padding: 20px 0;

  > * {
    @include span-columns(1 of 3);
    text-align: center;

    &:hover h5 {
      color: $color-text;
    }

    h3 {
      color: $color-text;
      font-size: 3em;
      font-weight: bold;
    }

    h5 {
      color: $light-text;
      font-size: 1.1em;
    }
  }

  &:last-child {
    @include omega();
  }
}

//----------------Repos------------------//
.repos-container {
  @include span-columns(9);
  @include omega();
}

.tabs-edit-container {
  @include clearfix;
  border-bottom: $border;

  .tabs {
    float: left;

  }


}

.edit-profile {
  float: right;
  border: $border;
  border-radius: 3px;
  background-color: $header;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 1.2em;
  font-weight: bold;

  &:hover {
    background-color: $button-hover;
  }

  .fa {
    margin-right: 3px;
  }
}

.tab {
  display: inline-block;
  padding: 8px;
  color: $dark-text;
  font-size: 1.2em;

  &.current {
    position: relative;
    bottom: -1px;
    z-index: 1000;
    border-top: $border;
    border-right: $border;
    border-left: $border;
    background-color: $background-color;
  }

  .fa {
    display: inline-block;
    margin-right: 4px;
    font-size: 1.2em;
  }
}

.repo-search-container {
  @include clearfix();
  border-bottom: $border;
  padding: 15px 0;

  input,
  .repo-search-button {
    float: left;
  }

  .repo-search {
    border: $border;
    border-radius: 3px;
    padding: 0 10px;
    width: 250px;
    line-height: 30px;
    font-size: 1.2em;
  }

  .repo-search-button {
    margin-left: 5px;
    border: $border;
    border-radius: 3px;
    background-color: $header;
    cursor: pointer;
    width: 65px;
    line-height: 25px;
    font-size: 1.2em;
    font-weight: bold;

    &:hover {
      background-color: $button-hover;
    }
  }

  .new-repo {
    margin-left: 5px;
    border: $new-repo-border;
    border-radius: 3px;
    background: linear-gradient($new-repo);
    cursor: pointer;
    width: 60px;
    line-height: 25px;
    color: $background-color;
    font-size: 1.2em;
    font-weight: bold;

    &:hover {
      background: linear-gradient($new-repo-hover);
    }

    .fa {
      margin-right: 3px;
    }
  }

  ul,
  .new-repo {
    float: right;
  }

}

.category {
  display: inline-block;
  margin: 0 4px;
  line-height: 30px;
  color: $color-text;
  font-size: 1.4em;

  &:hover {
    text-decoration: underline;
  }

  &.active {
    color: $dark-text;
  }
}

.repos {
  border-bottom: $light-border;
  padding: 30px 0 40px;
}

.main-line {
  @include clearfix;
  margin-bottom: 10px;

  .repo-stats {
    float: right;
  }
}

.repo-name {
  float: left;
  color: $color-text;
  font-size: 2em;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

.repo-stat {
  display: inline-block;
  margin: 0 5px;
  color: $lighter-text;
  font-size: 1.2em;
  font-weight: bold;

  .fa {
    margin-right: 5px;
  }
}

.repo-stat-star:hover {
  color: $color-text;
}

.repo-stat-forks:hover {
  color: $color-text;
}

.forked-link:hover {
  text-decoration: underline;
}

.repo-lines {

  h3 {
    line-height: 20px;
    color: $lighter-text;
    font-size: 1.2em;
  }
}

//--------------Footer----------------//

.footer-container {
  @include outer-container();
  padding: 30px 0;
  text-align: center;

  .fa {
    color: $lightest-text;
    font-size: 3em;

    &:hover {
      color: $lighter-text;
    }
  }

  .left-footer {
    float: left;
  }

  .right-footer {
    float: right;
  }
}

.left-footer-links {

  a {
    padding: 0 5px;
    color: $color-text;
  }

  > * {
    display: inline-block;
  }

}

.right-footer-links {

  a {
    padding: 0 5px;
    color: $color-text;
  }

  > * {
    display: inline-block;
  }
}

.footer-link, .footer-copy {
  font-size: 1.2em;
}

.footer-link:hover {
  text-decoration: underline;
}
